
/* Desktop 3280px */
@media (min-width: 1024px) and (max-width: 1919px) 
{

html{
    height: max-content;
}

body {
    color:rgba(70, 121, 51, 1);
    margin:0 auto;
}

.header-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid rgba(34, 77, 18, 0.071);
    padding-bottom: 1em;
    margin-top: 2em;
}

.logo
{
    width: 15rem;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-left: 3rem;
    margin-bottom: 1.5rem;
}

.doneer{
    display: flex;
    justify-content: flex-end;
    margin-right: 3em;
    margin-top: .2em;
    font-weight: bold;
    font-size: 1.5em;
    color: rgba(34, 77, 18, 1);
    font-family: buurtCampusArial-Bold;
    transition: transform .2s;
}

.doneer:hover{
    color: rgba(242, 110, 33, 0.936); 
    transform: scale(1.1);
}


.header-bottom{
    background-image: url("../assets/header-bg.jpg");
    background-size: cover;
    background-position-y: center;
    padding: 1em;
    height: 24em;
}


.header-h1{
    background-color: rgba(255, 255, 255, 0.728); 
    backdrop-filter: blur(-5px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.4); 
    padding: 1em;
    width: 10em;
    margin: 0 auto;
    margin-top: 6rem;
    border-radius: 5px;
}   

h1{
    font-family: buurtCampusArial-Bold;
    text-align: center;
    font-size:  3em;
    margin-top: 2em;
    margin-bottom: 2em;
    color:rgba(34, 77, 18, 0.838);
}

.koptext{
    color: rgb(4, 9, 2);
    max-width: 32em;
    font-size: 18px;
    padding-top: 1em;
    padding-bottom: 2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

h2{
        display: block;
        font-family: buurtCampusArial-Bold;
        justify-content: center;
        margin: 0 auto;
        text-align:center;
        font-size: 1.5rem;
        color: white;
        background-image: url("../assets/leaves3.jpg");
        background-size: cover;
        opacity: 90%;
        padding: 2rem 0.5rem ; 
        width: 100%;
        box-shadow: 0 8px 14px -10px  rgb(9, 9, 9);
}


.koptext-stekjes{
    color:rgba(34, 77, 18, 0.838);
    font-size: 22px;
    padding-top: 1em;
    padding-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 9rem;
    font-family: buurtCampusArial-Bold;
}


.h2-begin
{
    position: relative;
    top: 4.5rem;
}

h3{
    color:  rgba(34, 77, 18, 1);
    text-align: center;
    margin-bottom: 5em;
    font-weight: lighter;
    font-size: 20px;
    transition: transform .2s;
}

main{
    margin: 0;
    padding: 0;
}

section{
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1ft 1fr 1fr 1fr;
    grid-template-areas:
    ' . . '
    ' blok1 blok2'
    ' blok1 blok2'
    ' blok1 blok2';
    padding: 0;
}


.overzicht1{

    grid-area: blok1;
    margin: 0;
    padding: 0;
    padding-top: 4em;
    padding-bottom: 5rem;
    height: 100%;
    margin-right: .5em;
}

.overzicht2{
    grid-area: blok2;
    margin: 0;
    padding: 0;
    padding-top: 4em;
    padding-bottom: 5rem;
    margin-left: .5em;
    height: 100%;
}

ul{
    list-style-type: none;
    list-style: none; 
    justify-content: space-between;
    padding:0 auto;
}

li{
    text-align: center;
    padding: 2.5rem 1.6rem;
    max-height: 22rem;
    max-width: 36em;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-bottom: 3.5em;
    background-color:rgba(255, 255, 255, 0.638); 
    border-radius: 10px;
    box-shadow: 0 8px 14px -10px  rgb(10, 13, 0);
}

a:hover img {
    box-shadow:  0em 0 1em   rgb(255, 255, 255);
    transform: scale(1.1);
}

a:hover  h3{
    color: rgba(242, 111, 33, 1); 
    transform: scale(1.1);
}

.stekje{
    width: 30rem;
    height: 16rem;
    object-fit: cover;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    transition: transform .2s;
    box-shadow: 0 8px 14px -10px  rgb(0, 0, 0);
}

a{
        text-decoration: none;
        transition: transform .2s;
        
}

footer{
    background-image: url("../assets/hout5.jpeg");
    background-size: cover;
    margin:0;

}

.footer-top{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


article{

    padding: 1em;
    margin-bottom: 1em;
}

.contact{
    border-right: solid white;
    padding-right: 10em;
}

.overons{
    border-left:solid white;
    padding-left: 10em;
}

.campus-logo{
    width: 40%;
    height: 60%;
    margin: 0 auto;
    display: block;
    align-items: center;
}

h4{
    color: white;
    text-align: center;
    font-family: buurtCampusArial-Bold;
}

.p-footer{
    color: white;
    text-align: center;
    font-weight: lighter;
}

.profiel{
    width: 5rem;
}

.copy{
    color: white;
    text-align: center;
    font-weight: lighter;
}

/*  ---------------------  Stek pagina -------------------------- */

.terug{
    display: flex;
    justify-content: flex-end;
    margin-right: 3em;
    margin-top: .2em;
    font-weight: bold;
    font-size: 1.5em;
    color: rgba(34, 77, 18, 1);
    font-family: buurtCampusArial-Bold;
}
    
.terug:hover{
    color: rgba(242, 110, 33, 0.936); 
} 

.main-stekje{
    background-color:rgba(139, 187, 6, 0.187); 
    backdrop-filter: blur(-5px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.4); 
    border-radius: 5px;
    margin:  0 auto;
    display: block;
    justify-content: center;
    margin-bottom: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 70%;
}

.kopje
{
    margin: 0 auto;
    width: 100%;
    margin-bottom: 2em;
}

.kader-stekje{
    display: flex;
    justify-content: space-between;
}

.plant1{
    display: block;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    margin: 1em 1em;
    min-width: 19rem;
    width: 40rem;
    height: 20rem;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 8px 14px -10px  rgb(79, 107, 0);
}

.beschrijving-plant{
    color:black;
    width: 40rem;
    height: 20rem;
    background-color: rgba(255, 255, 255, 0.347);
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin: 1em 1em;
    border-radius: 5px;
    padding: 1em 2em;
    padding-top: 5rem;
    box-shadow: 0 8px 14px -10px  rgb(79, 107, 0);
}

.bevestig-kader{
    background-color: rgba(255, 255, 255, 0.347); 
    border-radius: 10px;
    padding: 1rem;
    width: 35%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 8px 14px -10px  rgb(79, 107, 0);
}

.bevestig{
    font-weight: bold;
    text-align: center;
    font-size: 1em;
    font-family: buurtCampusArial-Bold;
    background-color:  rgba(70, 121, 51, 1);
    color: white;
    border-style: solid  rgba(70, 121, 51, 1);;
    border-radius: 5px;
    border-width: 1.9px;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0  auto;
    padding: .5rem;
    box-shadow: 0 8px 14px -10px  rgb(79, 107, 0);
}

.bevestig:hover{
    background-color: rgba(139, 187, 6, 0.601); 
}

/* ---------------------------------  Ruil-formulier  ------------------------------------- */

.form-main{
    background-color:rgba(139, 187, 6, 0.187); 
    backdrop-filter: blur(-5px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.4); 
    border-radius: 5px;
    height: 50rem;
    margin:  0 auto;
    display: block;
    justify-content: center;
    margin-bottom: 5rem;
    padding-top: 1rem;
    width: 70%;
}

.kopje-form{
    margin: 0 auto;
    width: 100%;
    margin-bottom: 2em;
}

.form-stekje{
    width: 50%;
    display:block;
    justify-content: center;
    align-items: center;
    margin:  0 auto;
}

/* inhoud formulier  */

.form-naam{
    font-size: 1rem;
    color:rgba(34, 77, 18, 0.838);
    background-color: rgba(255, 255, 255, 0.347); 
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 8px 14px -10px  rgb(79, 107, 0);
}

.form-beschrijving{
    font-size: 1rem;
    color:rgba(34, 77, 18, 0.838);
    background-color: rgba(255, 255, 255, 0.347); 
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-top: 0.5rem;
    box-shadow: 0 8px 14px -10px  rgb(79, 107, 0);
}

.form-verzorging{
    font-size: 1rem;
    color:rgba(34, 77, 18, 0.838);
    background-color: rgba(255, 255, 255, 0.347); 
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-top: 0.5rem;
    box-shadow: 0 8px 14px -10px  rgb(79, 107, 0);
}

#name{
    margin-top: 0.5rem;
    width: 100%;
    padding:  0.5em;
    border-radius: 5px;
    border-width: 1px;
}

textarea{
    resize: none;
    display: block;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-top: 0.5em;
}

.upload{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    gap: 3em;
}

.icon{
    height: 5rem;
    border-left: #fff solid;
    border-right: #fff solid;
    border-width: 3px;
    padding: 1em;
}

.submit-kader{
    background-color: rgba(255, 255, 255, 0.347); 
    border-radius: 10px;
    padding: 1rem;
    width: 40%;
    margin: 0 auto;
    margin-top: 2rem;
    box-shadow: 0 8px 14px -10px  rgb(79, 107, 0);
}

.submit{
    font-weight: bold;
    font-size: 1em;
    background-color:  rgba(70, 121, 51, 1);
    color: white;
    border-style: solid;
    border-radius: 5px;
    border-width: 1.9px;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0  auto;
    font-family: buurtCampusArial-Bold;
    padding: 0.5rem 0.5rem;
}

.submit:hover{
    background-color: rgba(139, 187, 6, 0.601); 
}

/* End pagina*/

.header-laag{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    gap: .9em;
}

#h1-end{
    font-size: 2em;
}
.end-main{
    background-color:rgba(139, 187, 6, 0.187); 
    backdrop-filter: blur(-5px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.4); 
    border-radius: 5px;
    margin:  0 auto;
    display: block;
    justify-content: center;
    margin-bottom: 5rem;
    padding-top: 1rem;
    padding-bottom: 5rem;
    width: 70%;
}

.check{
    width: 2%;
    margin-bottom: 0.5em;
}

.google-kopje{
    margin: 0 auto;
    margin-bottom: 2em;
}

#map{
    background-image: url("../assets/google2.png");
    background-size: cover;
    height: 30rem;
    width: 70%;
    display: block;
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
}

.campus2{
    margin-top: 5rem;
}

}