* {
  box-sizing:border-box;
}

html {
  background-color: #f5f5f5;
  font: 100%/1.4;
  font-family: "josefin-sans", sans-serif ; 
}

@font-face {
  font-family: "josefin-sans";
  src: url("./fonts/josefin-sans"); 
}

body {
  color:rgba(70, 121, 51, 1);
  width: 30em;
  max-height: 94em;
  background-color: #fff;
  margin:0 auto;
}

body > * {
  padding:.75rem;
}

.logo
{
  position: relative;
  bottom: 3em;
  width: 20em;
}

.terug{
  background-color: white;
  color: rgb(242, 110, 33);
  border-style: solid;
  border-radius: 5px;
  border-width: 1.9px;
  border-color: rgba(70, 121, 51, 1);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .3rem;
  padding-bottom: .3rem;
}
.terug:hover{
  background-color: rgba(139, 187, 6, 0.412); 
}
.doneer:hover{
  background-color: rgba(139, 187, 6, 0.412); 
}


.doneer{
  position: relative;
  bottom: 3.8rem;
  left: 1rem;
  font-weight: bold;
  font-size: 18px;
  background-color: white;
  color: rgb(242, 110, 33);
  border-style: solid;
  border-radius: 5px;
  border-width: 1.9px;
  border-color: rgba(70, 121, 51, 1);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .3rem;
  padding-bottom: .3rem;
}


header{
  padding-top: 5em;
}

h1{
  text-align: center;
  font-size: 1.5em;
}

h2{
  text-align: center;
  font-size: 1rem;
  grid-area: h2;
  position:absolute;
  top: 17em;
  left: 8em;
  color:rgba(34, 77, 18, 0.838);
  background-color: rgba(255, 255, 255, 0.347); 
  padding: .5em;
  border-radius: 10px;

}

h3{
  color:white;
  text-align: center;
  margin-bottom: 5em;
  font-weight: lighter;
  font-size: 1rem;
}

.koptext{
  color:rgba(34, 77, 18, 0.838);
  max-width: 30em;
  border-bottom-style: solid;
  border-bottom-color: rgba(70, 121, 51, 1);;
  padding-bottom: 2em;
  padding-left: 1.5em;
}

main{

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ' h2 h2'
    ' blok1 blok2'
    ' blok1 blok2'
    ' blok1 blok2';
  padding: 0;
}

main, footer{
  position: relative;
  bottom: 17.9em;
}

.overzicht1{
  grid-area: blok1;
  background-color: rgba(70, 121, 51, 0.4);
  margin: 0;
}

.overzicht2{
  grid-area: blok2;
  background-color: rgba(112, 152, 0, 0.45);
  margin: 0;
}

ul{
  list-style-type: none;
  list-style: none; 
  justify-content: space-between;
  margin: 0;
  padding-top: 2em;
}


a:hover img{
  box-shadow:  0em 0 1em   rgb(242, 110, 33);
}


.stekje{
  margin-top: 3em;
  max-width: 25em;
  min-width: 5em;
  width: 9.5rem;
  border-style: solid;
  border-color: #b5b5b5;
  overflow: hidden;
  display: block;
}

a{
  text-decoration: none;
}


footer{
  background-color:rgba(242, 110, 33, 0.578);
}

h4{
  color:white;
  text-align: center;
}

.p-footer{
  color: white;
  text-align: center;
  font-weight: lighter;

}

.profiel{
  width: 5rem;
}

.flex {
  display: flex;

}

.flex > img {
  flex-grow: 1;
}
