
* {
    box-sizing:border-box;
}

html {
    background-color: #f5f5f5;
    font: 100%/1.4;
    font-family: arial ; 
}


@font-face {
  font-family: BuurtCampusArial-Bold;
  src: url("../font/BuurtCampusArial-Bold.ttf"); 
}


@media (max-width: 45em) and (min-width:20em){ 

  
body {
  background-color: #fff;
  margin:0 auto;
}

body > * {
  padding:.75rem;
}

.header-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid rgba(34, 77, 18, 0.071);
    padding-bottom: 1em;
}


.doneer{
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  margin-right: 0.5em;
  font-size: 1.5em;
  color: rgba(34, 77, 18, 1);
  font-family: buurtCampusArial-Bold;
  transition: transform .2s;
}

.logo
{
  width: 100%;
  height: auto;
  margin-left: .5em;
}

.header-bottom{
  background-image: url("../assets/header-bg.jpg");
  background-size: cover;
  width: 100%;
  background-position-x: -3em;
  padding: 1em;
  height: 15em;
}

.header-h1{
  background-color: rgba(255, 255, 255, 0.728); 
  backdrop-filter: blur(-5px);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.4); 
  padding: 1em;
  width: 9em;
  margin: 0 auto;
  margin-top: 8.5rem;
  border-radius: 5px;
  position: relative;
  bottom: 3em;
}   

.koptext-stekjes{
  color:rgba(34, 77, 18, 0.838);
  font-size: 16px;
  padding-top: 1em;
  padding-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 8rem;
  font-family: buurtCampusArial-Bold;
}


.doneer:hover{
  color: rgba(242, 110, 33, 0.936); 
  transform: scale(1.1);
}


.h1-end{
  font-size: 1.2em;
}

header{
  padding-top: 3em;
}

h1{
  display: block;
  align-items: center;
  margin: 0 auto;
  font-family: buurtCampusArial-Bold;
  text-align: center;
  font-size: 1.5em;
  border-width: 50%;
  margin-top: 2em;
  margin-bottom: 2em;
  color: rgba(34, 77, 18, 1);
}

h2{
  display: block;
  font-family: buurtCampusArial-Bold;
  justify-content: center;
  margin: 0 auto;
  text-align:center;
  font-size: 1rem;
  color: white;
  background-image: url("../assets/leaves3.jpg");
  background-size: cover;
  opacity: 90%;
  padding: 2rem 0.5rem ; 
  width: 100%;
  box-shadow: 0 8px 14px -10px  rgb(9, 9, 9);
}

.h2-begin
{
  position: relative;
  top: 4.5rem;
}


h3{
  color:  rgba(34, 77, 18, 1);
  text-align: center;
  margin-bottom: 5em;
  font-weight: lighter;
  font-size: 1rem;
  transition: transform .2s;
}

.koptext{
  color: rgb(4, 9, 2);
  max-width: 30em;
  font-size: 18px;
  padding-top: 1em;
  padding-bottom: 2em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


main{
  margin: 0;
  padding: 0;
}

section{
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1ft 1fr 1fr 1fr;
  grid-template-areas:
  ' . . '
  ' blok1 blok2'
  ' blok1 blok2'
  ' blok1 blok2';
  padding: 0;
}


.overzicht1{

  grid-area: blok1;
  margin: 0;
  padding: 0;
  padding-top: 4em;
  padding-bottom: 5rem;
  height: 100%;
  margin-right: .5em;
}

.overzicht2{
  grid-area: blok2;
  margin: 0;
  padding: 0;
  padding-top: 4em;
  padding-bottom: 5rem;
  margin-left: .5em;
  height: 100%;
}

ul{
  list-style-type: none;
  list-style: none; 
  justify-content: space-between;
  padding:0 auto;
}

li{
  text-align: center;
  padding: 2.5rem 1.6rem;
  max-height: 13rem;
  max-width: 36em;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-bottom: 3.5em;
  background-color:rgba(255, 255, 255, 0.638); 
  border-radius: 10px;
  box-shadow: 0 8px 14px -10px  rgb(10, 13, 0);
}

a:hover img {
  box-shadow:  0em 0 1em   rgb(255, 255, 255);
  transform: scale(1.1);
}

a:hover  h3{
  color: rgba(242, 111, 33, 1); 
  transform: scale(1.1);
}


.stekje{
  width: 10rem;
  height: 6rem;
  object-fit: cover;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  transition: transform .2s;
  box-shadow: 0 8px 14px -10px  rgb(0, 0, 0);
}

a{
  text-decoration: none;
  transition: transform .2s;
  
}


footer{
  background-image: url("../assets/hout5.jpeg");
  background-size: cover;
  margin:0;

}

.footer-top{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}


article{

  padding: 1em;
  margin-bottom: 1em;
}

.contact{
  border-right: solid white;
  padding-right: 3em;
}

.overons{
  border-left:solid white;
  padding-left: 3em;
}

.campus-logo{
  width: 80%;
  height: 60%;
  margin: 0 auto;
  display: block;
  align-items: center;
}

h4{
  color: white;
  text-align: center;
  font-family: buurtCampusArial-Bold;
}

.p-footer{
  color: white;
  text-align: center;
  font-weight: lighter;
}

.profiel{
  width: 5rem;
}

.copy{
  color: white;
  text-align: center;
  font-weight: lighter;
}

/* --------------------------------  Stek pagina -------------------------------- */

.terug{
display: flex;
justify-content: flex-end;
margin-right: .5em;
margin-top: .2em;
font-weight: bold;
font-size: 1em;
color: rgba(34, 77, 18, 1);
font-family: buurtCampusArial-Bold;
transition: transform.2s;
}

.terug:hover{
  color: rgba(242, 110, 33, 0.936); 
  transform: scale(1.1);
}

.main-stekje{
  background-color:rgba(139, 187, 6, 0.187); 
  backdrop-filter: blur(-5px);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.4); 
  margin-bottom: 5rem;
  padding-bottom: 2rem;
  width: 100%;
}

.kopje
{
  margin: 0 auto;
  margin-bottom: 1.5em;
  margin-top: 1em;
}
.plant1{
  display: block;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
  min-width: 19rem;
  height: 22rem;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 8px 14px -10px  rgb(79, 107, 0);
}

.beschrijving-plant{
  color:rgba(34, 77, 18, 0.838);
  width: 80%;
  background-color: rgba(255, 255, 255, 0.347);
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 0 8px 14px -10px  rgb(79, 107, 0);
}

.bevestig-kader{
  background-color: rgba(255, 255, 255, 0.347); 
  border-radius: 10px;
  padding: 1rem;
  width: 35%;
  margin: 0 auto;
  margin-top: 2rem;
  box-shadow: 0 8px 14px -10px  rgb(79, 107, 0);
}

.bevestig{
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  font-family: buurtCampusArial-Bold;
  background-color:rgba(34, 77, 18, 0.838);
  color: white;
  border-style: solid rgba(34, 77, 18, 0.838);
  border-radius: 5px;
  border-width: 1.9px;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0  auto;
  padding: .5rem;
  box-shadow: 0 8px 14px -10px  rgb(79, 107, 0);
}

.bevestig:hover{
  background-color: rgba(139, 187, 6, 0.601); 
}

/* ------------------------- Ruil-formulier -------------------------- */


.form-main{
  background-color:rgba(139, 187, 6, 0.187); 
  backdrop-filter: blur(-5px);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.4); 
  padding-bottom: 2.5rem;
  width: 100%;
  margin-bottom: 4rem;
}
.kopje-form
{
  margin: 0 auto;
  margin-bottom: 4rem;
}

.form-stekje{
  box-sizing: border-box;
  width: 84%;
  display:block;
  justify-content: center;
  align-items: center;
  margin:  0 auto;
  margin: 1rem 2rem 1rem;
}

/* inhoud formulier  */
.form-naam{
  font-size: 1rem;
  color:rgba(34, 77, 18, 0.838);
  background-color: rgba(255, 255, 255, 0.347); 
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0 8px 14px -10px  rgb(79, 107, 0);
}

.form-beschrijving{
  font-size: 1rem;
  color:rgba(34, 77, 18, 0.838);
  background-color: rgba(255, 255, 255, 0.347); 
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
  padding-top: 0.5rem;
  box-shadow: 0 8px 14px -10px  rgb(79, 107, 0);
}

.form-verzorging{
  font-size: 1rem;
  color:rgba(34, 77, 18, 0.838);
  background-color: rgba(255, 255, 255, 0.347); 
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
  padding-top: 0.5rem;
  box-shadow: 0 8px 14px -10px  rgb(79, 107, 0);
}

#name{
  margin-top: 0.5rem;
  width: 100%;
  padding:  0.5em;
  border-radius: 5px;
  border-width: 1px;
  
}

textarea{
  resize: none;
  display: block;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-top: 0.5em;
}

.upload{
  display: flex;
  justify-content: center;
  margin-top: 2em;
  gap: 3em;
}

.icon{
  height: 5rem;
  border-left: #fff solid;
  border-right: #fff solid;
  border-width: 3px;
  padding: 1em;
}

.submit-kader{
  background-color: rgba(255, 255, 255, 0.347); 
  border-radius: 10px;
  padding: 1rem;
  width: 40%;
  margin: 0 auto;
  margin-top: 2rem;
  box-shadow: 0 8px 14px -10px  rgb(79, 107, 0);
}
.submit
{
  font-weight: bold;
  font-size: 1em;
  background-color:rgba(34, 77, 18, 0.838);
  color: white;
  border-style: solid;
  border-radius: 5px;
  border-width: 1.9px;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0  auto;
  font-family: buurtCampusArial-Bold;
  padding: 0.5rem 0.5rem;
}

.submit:hover{
  background-color: rgba(139, 187, 6, 0.601); 
}



/* End pagina*/

.header-laag{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

#h1-end{
  font-size: 18px;
}
.end-main{
  background-color:rgba(139, 187, 6, 0.187); 
  backdrop-filter: blur(-5px);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.4); 
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  width: 100%;
}

.check{
  width: 4%;
  margin-bottom: 0.2em;
  position: relative;
  right: 9em;
}

.google-kopje{
  margin: 0 auto;
  margin-bottom: 2em;
}

#map{
  background-image: url("../assets/google2.png");
  background-size: cover;
  height: 30rem;
  width: 70%;
  display: block;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
}

.campus2{
  margin-top: 5rem;
}

}

